apiVersion: 1

datasources:

  - name: Loki
    type: loki
    access: proxy
    uid: ${LOKI_DATASOURCE_ID}
    url: http://${LOKI_CONTAINER_NAME}:${LOKI_PORT}

    jsonData:
      timeout: 60
      maxLines: 1000

  - name: Prometheus
    type: prometheus
    access: proxy
    uid: ${PROMETHEUS_DATASOURCE_ID}
    url: http://${PROMETHEUS_CONTAINER_NAME}:${DEFAULT_PROMETHEUS_PORT}

